body{
    background-image: url(/HTML/img/audi.jpg);
    background-repeat: no-repeat;
}
.profileheader{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 60px;
    background-color: rgb(253, 64, 7);
    margin: auto;
}
i {
    border: solid white;
    border-width: 0 5px 5px 0px;
    display: inline-block;
    padding: 10px;
}
.arrow_left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.header{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 50;
    position: relative;
    margin-left: 20px;
    color: white;
    font-size: 40px;
    text-align: left;
    margin-top: 0px;
}
.menu{
    position: relative;
    color:white;
    font-family: Courier, monospace;
    font-size: 20px;
    text-align: right;
    float: right;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    overflow: visible;
    margin-top: 5px;
}
.contacts{
    position: relative;
    text-align: center;
    font-size: 70px;
    color: white;
    margin-top: 150px;
}
.connect{
    font-size: 20px;
    font-family: Courier, monospace;
    margin-top: 40px;
}
.button{
    text-align: center;
    margin: 40px;
}
.btn{
    color: white;
    background-color: rgb(216, 58, 58);
    opacity: 0.8;
    font-family: Courier, monospace;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    border: 2px solid white;
    margin-left: auto;
    margin-top: auto;
    transition: 0.2s;
    border-radius: 10px 0;
}
.button:hover{
    
    transform: scale(1.05);
    opacity: 1.2;
}