body{
    background-color: rgb(46, 45, 45);
}
.profileheader{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 60px;
    background-color: rgb(253, 64, 7);
    margin: auto;
}
.header{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 50;
    position: relative;
    margin-left: 20px;
    color: white;
    font-size: 40px;
    text-align: left;
    margin-top: 0px;
}
.arrow_left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
i {
    border: solid white;
    border-width: 0 5px 5px 0px;
    display: inline-block;
    padding: 10px;
}
.menu{
    position: relative;
    color:white;
    font-family: Courier, monospace;
    font-size: 20px;
    text-align: right;
    float: right;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    overflow: visible;
    margin-top: 5px;
}
.mainblock{
    position: absolute;
    background-color: white;
    height: 500px;
    width: 1400px;
    margin-top: 100px;
    margin-left: 55px;
    margin-right: auto;
    
}
.rav4{
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 490px;
    margin-left: 25px;
}
ul{
    padding: 0px;
    margin: 0px;
    margin-left: 150px;
}
li{
    list-style-type: none;
    text-align: left;
}
.textrav4{
    height: fit-content;
    width: fit-content;
    position:absolute;
    margin-left: 450px;
    margin-top: 170px;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.btn{
    font-size: 13px;
    color: white;
    font-weight: 650px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5%;
    transition: 1s;
    background-color: rgb(2, 167, 16);
    position: absolute;
    margin-left: 150px;
    margin-top: 20px;
}
.btn:hover{
    background-color: rgb(42, 139, 3);
}
.transition{
    margin-top: 550px;
    margin-left: 600px;
    position: absolute;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: none;
    color: rgb(46, 45, 45);
}
.transition:hover{
    text-decoration: 2px underline;
}
.arrow_2{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    border: solid rgb(46, 45, 45);
    border-width: 0 3px 3px 0px;
    display: inline-block;
    padding: 5px;
}